{% extends 'homepage/headfoot.html' %}
{% load static %}

{% block content %}
        <div class="container bg-content">
                <div class="row">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="static/img/iphone.jpg" alt="">
                            <div class="card-body img-responsive">
                                <span>Iphone X</span><br>
                                <span>Rp 15.000.000</span><br>
                                <a href="detail.html">Lihat Detail</a>
                            </div>
                        </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="static/img/sepatu.jpg" alt="">
                        <div class="card-body img-responsive">
                        <span>Sepatu Vans</span><br>
                        <span>Rp 799.000</span><br>
                        <a href="">Lihat Detail</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="static/img/motor.jpg" alt="">
                    <div class="card-body img-responsive">
                        <span>Motor</span><br>
                        <span>Rp 35.000.000</span><br>
                        <a href="">Lihat Detail</a>
                    </div>
                </div>
                </div>
                <br>
                <div class="row">
                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="static/img/kompor.jpg" alt="">
                                    <div class="card-body filter sprinkle img-responsive">

                        <span>Kompor</span><br>
                        <span>Rp 1.000.000</span><br>
                        <a href="">Lihat Detail</a>
                    </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="static/img/monitor.jpg" alt="">
                                    <div class="card-body img-responsive">
                        <span>TV LED</span><br>
                        <span>Rp 5.000.000</span><br>
                        <a href="">Lihat Detail</a>
                    </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="static/img/mobil.jpg" alt="">
                                    <div class="card-body img-responsive">
                        <span>Mobil</span><br>
                        <span>Rp 150.000.000</span><br>
                        <a href="">Lihat Detail</a>
                    </div>
                    </div>
        </div>
        </div>
    {% endblock %}